.footer {
    background-color: #D9D9D9;
    height: 97px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.imgFooter {
    margin-right: 15px;
}

.pFooter {
    text-align: center;
    margin-right: 35%;
}
